@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}


.test {
    border: 1px solid red;
}

html {
    font-size: 15px;
}

.header {
    max-width: 1500px;
}

.nav-content {
    cursor: pointer;
    position: relative;
    height: 10vh;
}

.dropdown {
    background-color: #f7f3f3;
    position: absolute;
    cursor: pointer;
    margin-top: 1rem;
    height: auto;
    left: 3rem;
    border: .3rem;
}

.admissions {
    height: 10vh;
}

.ind-Item:hover {
    color: #5AAF4B;
}

.dropdown-Items:hover {
    color: #5AAF4B;
}

.tes {
    border: 1px solid green;
}

/* .Buildings{
    border: 1px solid red;
} */


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-next {
    background: none;
    color: #5AAF4B !important;
}

.swiper-button-prev {
    background: none;
    font-size: 10px;
    color: #5AAF4B !important;
}

.swiper-pagination {
    bottom: -200px;
    /* adjust this value to move the bullets further down */
}

/* .mySwiper1 .swiper-pagination-bullet {
    margin-top: 50px;
    z-index: 5;


} */


.portal {
    background-image: url('/Hero.jpg');
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    /* padding: .3rem;
    border-radius: .3rem; */
}


.portal-signup {
    /* min-height: 100%; */
    overflow: auto;
}

.showSidebar {
    transform: translateX(100%);
}

.mynav{
    width: 100%;
}
